

.slider__item{
    max-width: 100%;
    height:50vh;
}

.slider_item-01{
    background: linear-gradient(rgba(9, 10, 17, 0.7), rgba(13, 13, 14, 0.7)), url('../assets/all-images/busside\ \(2\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
}

.slider_item-02{
    background: linear-gradient(rgba(9, 10, 17, 0.7), rgba(13, 13, 14, 0.7)), url('../assets/all-images/bus1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
}

.slider_item-03{
    background: linear-gradient(rgba(13, 13, 14, 0.7), rgba(13, 13, 14, 0.7)), url('../assets/all-images/busside\ \(4\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
}
.hero__slider{
    overflow: hidden;
}

.slider__content{
    padding-top: 200px;
}
.slider__content h1{
    font-size: 3rem;
    font-weight: 600;
}
 .reserve__btn{
    background: #fff !important;
    color:#000d6b;
    border: none;
    outline: none;
}

.reserve__btn a{
    text-decoration: none;
    font-weight: 600;
}

